.App {
  text-align: center;
}
.box-festivos {
  align-items: left;
  margin-left: 30px;
  background-color: rgba(255,255,255,0.4);
  width: 700px;
  height: 479px;
  border-radius: 30px;
  overflow-y:scroll;
}

.panel-principal {
  display: flex;
}

h1 {
  font-family: 'Shrikhand', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 2%;
  font-size: 80px;
  color: #F7F9F9;
  text-shadow:0 0 10px black, 0 0 15px #154360, 0 0 25px black, 0 0 45px #154360; 
}

.texto-Mov {
  width: 100%;
  background-color: #797D7F;
  padding: 1%;
  margin-bottom: 1%;
  font-family: 'BhuTuka Expanded One', serif;
  font-size: 35px;
  font-weight: 600;
  color: #212F3C;
}

h3 {
  font-family: 'BhuTuka Expanded One', serif;
  font-size: 35px;
  color: #212F3C;
}

.parrafo {
  font-family: 'BhuTuka Expanded One', serif;
  font-size: 35px;
  color: #212F3C;
  font-weight: 600;
  background-color: rgba(255,255,255,0.5);
  margin: 60px;
  margin-left: 10%;
  margin-right: 10%;
  text-align:left;
}

.espacio-parrafo-uno {
  font-weight: 700;
}

.espacio-parrafo {
  font-size: 20px;
  margin-top: 2%
}

@media (max-width: 1080px) {
  .panel-principal {
    display: grid;
    justify-content: center;
  }

  .box-festivos {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.4);
    width: 380px;
    height: 250px;
    border-radius: 30px;
    overflow-y:scroll;
  }

  h1 {
    font-family: 'Shrikhand', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #D0D3D4;
    text-shadow:0 0 10px black, 0 0 20px black, 0 0 30px black;  
  }

  .texto-Mov {
      width: 100%;
      background-color: #797D7F;
      padding: 2%;
      margin-bottom: 4%;
      font-family: 'BhuTuka Expanded One', serif;
      font-size: 35px;
      font-weight: 600;
      color: #212F3C;
    }
}